.todo-list li {
  position: relative;
  padding: 10px;
}

.todo-list li.completed {
  background-color: #dff0d8; /* Yeşil arka plan rengi */
}

.todo-list .view input.toggle:checked ~ label {
  text-decoration: line-through; /* Görevi tamamlandığında çizgili metin */
}

.todo-list .view input.toggle:checked ~ label {
  color: #9e9e9e; /* Çizgili metin için gri renk */
}

.filters .selected {
  font-weight: bold;
}
